::deep .mud-rating-root.mud-disabled .mud-rating-item.mud-rating-item-active {
    color: #FFB300 !important;
    opacity: 1 !important;
}

::deep .mud-rating-root.mud-disabled .mud-rating-item {
    color: #D3D3D3 !important;
}
